
#wrapper {
    display: flex;
    gap: 40px;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 50% 50%;
}

/* #main-board-container {

    width: 50vw
} */


body {
    font-family: Arial, sans-serif;
}
#searchInput {
    margin-bottom: 10px;
}
#results {
    list-style-type: none;
    padding: 0;
}
#results li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#results li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#side-board-containers {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.chessboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column-reverse;
}


.chessboard {
    display: inline-grid;
    border: 10px solid black;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}


.lightSquare {
    background-color: #8b6c5c;
}


.darkSquare {
    background-color: #3d251e;
}

.chess-piece {
    font-size: 180%;
}

.white-piece {
    color: white;
}

.black-piece {
    color: black;
}

/* .chess-piece > i {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    align-self: center;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
} */


/* i {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
} */

.caption > p {
    font-size: 80px;
}

.chessboard + p {
    display:flex;
    margin-top: 10px; /* Adjust as needed */
}

p {
    display: flex
}

@media (min-height: 680px), screen and (orientation: portrait) {


    #wrapper {
        display: flex;
        /* grid-template-columns:30% 70% */
        flex-direction: column;
        overflow-y: scroll;
        height: initial;
        width: initial;
    }

    #side-board-containers {
        flex-basis: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow-y: scroll;
    }

}
  