.chessboard {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

.lightSquare {
    position: relative;
    background-color: #eeeed2;
    border: 1px solid black;
    display: inline-block;
}

.darkSquare {
    position: relative;
    background-color: #769656;
    border: 1px solid black;
    display: inline-block;
}

.chess-piece {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}